<div class="card">
  <div class="card-header" style ="background: rgb(67, 58, 58); color:white;">
    Catalogo de Familias
  </div>
  <div class="card-body">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" >Numero</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Numero Familia" [(ngModel)]="Numero">
    </div>    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Nombre Familia" [(ngModel)]="Nombre">
    </div>    
     
    <a class="btn btn-primary me-2" (click)="Consultar()">Consultar</a>
    <a class="btn btn-primary me-2" (click)="Grabar()">Guardar</a>
    <a class="btn btn-primary me-2" (click)="Modificar()">Modificar</a>
    <a class="btn btn-primary me-2" (click)="Borrar()">Borrar</a>
  </div>
</div>